<!DOCTYPE html>
<html lang="en">
<head>
    <title> ExpressWay WMS Manager side</title> 
    <meta Charset ="utf-8">
    <link rel="stylesheet" href="../../static/css/manager_common.css">
    <style>
      .dashboardContainer{
        border:solid black 2px;

        display: flex;
        justify-content: space-between;
        width: calc(90% - 200px);
        height:150px;
        align-items: center;
      }
    </style>
</head>

<body style="margin: 0; "> 
  <header class="topBar">
    <a class="topBarText" style ="left:19px;" href="dashboard.html">ExpressWay</a>
    <div style="display:flex;">
      <p  class = "topBarText" style =" right:30px">PLACE HOLDER FOR NAME</p> <!--!!!!!!!!!!!!!!!!!-->
      <p class="topBarText topBarLogOut">Log Out</p>
    </div>
  </header>

  <div>
    <nav class="sideBar">
      <p  class="sideBarText"><a href="dashboard.html">Dashboard</a></p>
      <p class="sideBarText" ><a href="order_page.html">Orders</a></p>
      <p class="sideBarText" ><a href="inventory_page.html">Inventory</a></p>
      <p class="sideBarText" ><a href="inbound_shipments_page.html">Inbound Shipments</a></p>
      <p class="sideBarText" ><a href="receive _discrepancy_page.html">Receive Discrepency</a></p>
      <p class="sideBarText" ><a href="deliveries_page.html">Deliveries</a></p>
      <p class="sideBarText" ><a href="job_assignment.html">Job Assignment</a></p>
      <p class="sideBarText" ><a href="employee_page.html">Employees</a></p>    
    </nav>
    <div class="contentContainer">

       <div class ="dashboardContainer"><!--!!!!!!!!!!!!!!!!!!!!!!-->
       <p style="margin-left: 10px;"> <span></span> Orders to be fulfiled</p>
       <p><span></span> inbound Shipments</p>
       <p style="margin-right: 10px;"><span></span> Present</p>
      </div>
    </div>
  </div>
  

</body>
</html>

