{% extends "manager_side/baseManager.html" %}

{%block title%} Dashboard{% endblock %}

{%block style%} 
<style>
.dashboardContainer{
  border:solid black 2px;
  display: flex;
  justify-content: space-between;
  width: calc(90% - 200px);
  height:150px;
  align-items: center;
  margin-top:20px;
}
</style>

{%endblock%}

{% block content %}
<div class ="dashboardContainer"><!--!!!!!!!!!!!!!!!!!!!!!!-->
  <p style="margin-left: 10px;"> {{numOrdTBF}} Orders to be fulfiled</p>
  <p>{{numInboundShipment}} inbound Shipments</p>
  <p style="margin-right: 10px;">{{numEmpPresent}} Employees Present</p>
 </div>
{% endblock %}