{% extends "manager_side/baseManager.html" %}

{%block title%} Delivery{%endblock%}

{% block script %} 
<script>
 $(document).ready( function () {
      $('#deliveryTable').DataTable({select: 'single'});
      $('#deliveryOrdersTable').DataTable({select: 'single', "searching":false});
      $('#ordItemsTable').DataTable({select: 'single', "searching":false});
       } );

      //overlay functions  
      function openDelOL(){
        document.getElementById("overlayDelivery").style.width="100%";
        //TEMP!!!!!!!!!!!!!!!
        var tab = $('#locationTable').DataTable();
        tab.row.add([1,2,3,4,5,6,7]).draw(false);
      }
      function closeDelOL(){
        document.getElementById("overlayDelivery").style.width="0";
        //TEMP!!!!!!!!!!!!!!!!
        var tab = $('#locationTable').DataTable();
        tab.clear().draw();
      }
      function openOrdItemsOL(){
        document.getElementById("overlayOrdItems").style.width="100%";
        //TEMP!!!!!!!!!!!!!!!
        var tab = $('#locationTable').DataTable();
        tab.row.add([1,2,3,4,5,6,7]).draw(false);
      }
      function closeOrdItemsOL(){
        document.getElementById("overlayOrdItems").style.width="0";
        //TEMP!!!!!!!!!!!!!!!!
        var tab = $('#locationTable').DataTable();
        tab.clear().draw();
      }
</script>
{% endblock %}

{%block style%} 
<style>
.overlayContainer{         
        height: 100%;
        width: 0;
        position:fixed;
        overflow-x: hidden;
        z-index: 10;
        top:0;
        left:0;
        background-color: rgba(255,255,255,1);
        transition:0.4s;
      }
      .overlayTopBar{
        display:flex; 
        align-items:center;
        border-bottom: solid 1px; 
        box-shadow: 0 3px 3px -3px rgb(77, 77, 77);
        min-height:35px; 
        font-size: 1.25em;
        font-weight: 700;
        margin-bottom: 15px;
      }
      .delOrderInfoGrid{
        display:grid;
        width:98%;
        min-width:1000px;
        margin-left:auto;
        margin-right: auto;  
        margin-bottom: 80px;
      }
</style>
  
{% endblock %}

{% block content%} 
    <div style="display:flex; flex-direction: column;">
        <div class="contentTopBar">
            <p class="contentTopBarText">Deliveries</p>
        </div>
      
        <!--table-->
        <table id="deliveryTable" class="display">
          <thead>
            <th>Order id</th>
            <th>Delivery id</th>
            <th>Vehicle Num</th>
          </thead>
          <tbody>
            <tr>
              <td>0021</td>
              <td>1032</td>
              <td>124124</td>
            </tr>
          </tbody>
        </table>
    </div>
{% endblock %}

{%block externalContent%} 
<!--overlay for delivery-->
     <div id="overlayDelivery" class="overlayContainer">
      <div class="overlayTopBar">
        <span style="position:absolute; left: 20px;">Delivery</span>
        <span style="position:absolute; right: 20px; border:solid black 0.5px; padding:3px; cursor:pointer" onclick="closeDelOL()">Back</span>
      </div>
      <div class="delOrderInfoGrid">
        <p style="grid-row-start: 1;">Order id</p>
        <p style="grid-row-start: 2;">Customer Name</p>
        <p style="grid-row-start: 3;">Date</p>
        <p id="orderID" style="grid-row-start: 1; grid-column-start: 2;"></p>
        <p id="customerName" style="grid-row-start: 2; grid-column-start: 2;"></p>
        <p id="Date" style="grid-row-start: 3; grid-column-start: 2;"></p>
      </div>
      <p style="margin-left:10px; font-size:1.5em; font-weight: 700;">Items</p>
      <div style="width:98%; margin-left: auto; margin-right: auto;">
        <table id="deliveryOrdersTable" class="display">
          <thead>
            <th>Delivery id</th>
            <th>Vehicle Num</th>
            <th>Departure Time</th>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
      <!--overlay for order items-->
     <div id="overlayOrdItems" class="overlayContainer">
      <div class="overlayTopBar">
        <span style="position:absolute; left: 20px;">Order Items</span>
        <span style="position:absolute; right: 20px; border:solid black 0.5px; padding:3px; cursor:pointer" onclick="closeDelOL()">Back</span>
      </div>
      <div class="delOrderInfoGrid">
        <p style="grid-row-start: 1;">Order id</p>
        <p style="grid-row-start: 2;">Customer Name</p>
        <p style="grid-row-start: 3;">Date</p>
        <p id="orderID" style="grid-row-start: 1; grid-column-start: 2;"></p>
        <p id="customerName" style="grid-row-start: 2; grid-column-start: 2;"></p>
        <p id="Date" style="grid-row-start: 3; grid-column-start: 2;"></p>
      </div>
      <p style="margin-left:10px; font-size:1.5em; font-weight: 700;">Items</p>
      <div style="width:98%; margin-left: auto; margin-right: auto;">
        <table id="ordItemsTable" class="display">
          <thead>
            <th>Order id</th>
            <th>Customer Name</th>
            <th>Num of Items</th>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
    <button onclick="openDelOL()" style="position: fixed; right:500px; top:500px">button</button>
{% endblock %}