{% extends "manager_side/baseManager.html" %}

{% block title %} Employee{% endblock %}

{% block script%}
<script>
$(document).ready( function () {
        $('#employeeTable').DataTable({
          data:{{employeeData|safe}}
        }
        );
         } );
</script>
{% endblock %}



{% block content %}
<div style="display:flex; flex-direction: column;">
        <div class="contentTopBar">
            <p class="contentTopBarText" >Employees</p>
            <p class= "contentTopBarText contentTopBarButton">Add Employee</p>
        </div>
      
        <!--table-->
        <table id="employeeTable" class="display">
          <thead>
            <th>Employee id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone No</th>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
</div>
{% endblock %}