{% extends "manager_side/baseManager.html" %}

{% block title %} Employee{% endblock %}

{% block script%}
<script>
$(document).ready( function () {
        $('#employeeTable').DataTable({
          data:{{employeeData|safe}},
        "lengthChange":false,
        "pageLength":8,
        drawCallback: function(){
                    var api =  $('#employeeTable').DataTable();
                    var rows = api.rows({page: 'current'}).count();
                    for(var i=0; i< api.page.len() - rows; i++){
                        $('#employeeTable tbody').append($("<tr ><td>&nbsp;</td><td></td><td></td><td></td></tr>"));
                    }
        }
      });
         });
</script>
{% endblock %}



{% block content %}
<div style="display:flex; flex-direction: column;">
        <div class="contentTopBar">
            <p class="contentTopBarText" >Employees</p>
        </div>
      
        <!--table-->
        <table id="employeeTable" class="display table">
          <thead>
            <th>Employee id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone No</th>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
</div>
{% endblock %}