{% extends "manager_side/baseManager.html" %}

{% block title %}Inventory{% endblock %}

{% block script %}
<script>
 $(document).ready( function () {
  var invTab = $('#inventoryTable').DataTable({
    select:'single',
    data:{{invTable_data|safe}},
    columns:[
          {title:"Item id"},
          {title:"Name"},
          {title:"Seller id"},
          {title:"Quantity"}
        ]
     });
  $('#locationTable').DataTable({
    "searching":false,
    "lengthChange": false,
    paging:false,
    "info":false});

  //event listeners
  invTab.on('select', function ( e, dt, type, indexes ){
    if(type=="row"){
      var item_id = invTab.rows(indexes).data().pluck('0')[0];
      $.ajax({
                url: '/inventory',
                type: "POST",
                data: {"item_id":item_id},
                dataType: "json",
                success: function(data){
                    openOL(data)
                    //alert(JSON.stringify(data))
                },
                error: function(data){
                  alert("failed")
                }
              });
    }
  }
  )
  } );

//overlay functions
function openOL(data){
  document.getElementById("overlayItems").style.width="100%";
  //update overlay interface with data retrieved from post
  var olData = data.overlay
  var tableData = data.table
  document.getElementById("overlayItems").style.width="100%";

  document.getElementById("itemID").textContent =  olData.item_id
  document.getElementById("sellerID").textContent = olData.seller_id
  document.getElementById("weight").textContent = olData.weight
  document.getElementById("desc").textContent = olData.item_desc
  document.getElementById("itemName").textContent = olData.item_name
  //TEMP!!!!!!!!!!!!!!!
  var tab = $('#locationTable').DataTable();
  var tableDataFinal = [];
  var count=1;
  //splits location into based types and add quantity to form array for data table
  for (i=0; i<tableData.length;i++){
    var rowArr = [count]
    rowArr = rowArr.concat( tableData[i].location.split("-"))
    rowArr.push(tableData[i].quantity)
    tableDataFinal.push(rowArr)

  }

  tab.rows.add(tableDataFinal).draw();
      }
function closeOL(){
  document.getElementById("overlayItems").style.width="0";
  //TEMP!!!!!!!!!!!!!!!!
  var tab = $('#locationTable').DataTable();
  tab.clear().draw();
      }

</script>
{% endblock %}

{% block style %}
<style>
.overlayContainer{
        height: 100%;
        width: 0;
        position:fixed;
        overflow-x: hidden;
        z-index:6;
        top:0;
        left:0;
        background-color: rgba(255,255,255,1);
        transition:0.4s;
      }
.overlayTopBar{
        display:flex;
        align-items:center;
        border-bottom: solid 1px;
        box-shadow: 0 3px 3px -3px rgb(77, 77, 77);
        min-height:35px;
        font-size: 1.25em;
        font-weight: 700;
        margin-bottom: 15px;
      }
.itemInfoGrid{
        display:grid;
        width:1000px;
        min-width:1000px;
        margin-left:20px;
        margin-bottom: 80px;
      }
</style>
{% endblock %}

{% block content %}
 <div style="display:flex; flex-direction: column;">
        <div class="contentTopBar">
            <p class="contentTopBarText">Inventory</p>
        </div>

        <!--table-->
        <table id="inventoryTable" class="display"></table>
      </div>
{% endblock%}

{%block externalContent %}
<!--overlay -->
    <div id="overlayItems" class="overlayContainer">
      <div class="overlayTopBar">
        <span style="position:absolute; left: 20px;">Item Information</span>
        <span style="position:absolute; right: 20px; border:solid black 0.5px; padding:3px; cursor:pointer" onclick="closeOL()">Back</span>
      </div>
      <div >
          <p id="itemName" style="font-size: 1.5em;font-weight:700;margin-left:10px; margin-top:10px"></p>
      </div>
      <div class="itemInfoGrid" style="font-size:1.3em;">
        <p style="grid-row-start: 1;">Item id</p>
        <p style="grid-row-start: 2;">Seller id</p>
        <p style="grid-row-start: 3;">Weight per Unit</p>
        <p style="grid-row-start: 4;">Item desc</p>
        <!--cells to be filled with data from database-->
        <p id="itemID" style="grid-row-start: 1; grid-column-start:2 ;"></p>
        <p id="sellerID" style="grid-row-start: 2; grid-column-start:2 ;"></p>
        <p id="weight" style="grid-row-start: 3; grid-column-start:2 ;"></p>
        <p id="desc" style="grid-row-start: 4; grid-row-end: 6;grid-column-start:2 ;"></p>
      </div>
      <p style="margin-left:10px; font-size:1.5em; font-weight: 700;">Items Locations</p>
      <table id="locationTable" class="display">
        <thead>
          <th>No</th>
          <th>Aisle</th>
          <th>Rack</th>
          <th>Bay</th>
          <th>Level</th>
          <th>Bin</th>
          <th>Quantity</th>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
<button onclick="openOL()" style="position: fixed; right:500px; top:500px">button</button>
{% endblock %}