{% extends "manager_side/baseManager.html" %}

{% block title %}Job Assignment{% endblock %}

{% block script %}
<script>
//initialise table when page is ready
$(document).ready( function () {
  $('#jobTable').DataTable();
      } );
</script>
{% endblock %}



{% block content %}
<div style="display:flex; flex-direction: column;">
      <div class="contentTopBar">
          <p class="contentTopBarText">Job Assignment</p>
      </div>
    
      <!--table-->
      <table id="jobTable" class="display">
        <thead>
          <th>Employee id</th>
          <th> Name</th>
          <th>Assigned Job</th>
          <th>Station</th>
        </thead>
        <tbody>
        </tbody>
      </table>
      <button style="align-self: flex-end; margin-top:20px; width:110px; height: 30px;" ><a href="/pick_pack_assignment">Assign Jobs</a></button>
    </div>
{% endblock%}