{% extends "manager_side/baseManager.html" %}

{% block title %}Task Assignment{% endblock %}

{% block script %}
<script>
//initialise table when page is ready
$(document).ready( function () {
  var jobTab = $('#jobTable').DataTable({
    select:'single',
    columns:[
      {title:"Employee id"},
      {title:"Name"},
      {title:"Assigned Task"},
      {title:"Station"},
    ],
    "ajax":{
      "data": {"jobTab":"jobTab"} ,
      "url": "/job_assignment",
      "type":"Post",
      "datasrc": ""
    }
  });
  //event listeners
  jobTab.on("select", function( e, dt, type, indexes ){
    if (type == "row"){
      var emp_id = jobTab.rows(indexes).data().pluck('0')[0];
      var emp_name = jobTab.rows(indexes).data().pluck('1')[0];
      openOL(emp_name, emp_id);
    }
  })
      } );

//reload table data every few seconds
setInterval( function(){
  $('#jobTable').DataTable().ajax.reload(null, false);
}, 5000);

//var emp_assignment_modal =  new bootstrap.Modal(document.getElementById("#modal"),{});


function openOL(emp_name, emp_id){
  $('#modal').modal('show')
  document.getElementById("emp_name").textContent=emp_name;
  $("#emp_name").data('empid',emp_id);
}
function closeOL(){
  //update display in webpage
  $('#modal').modal('hide')
}
//sends update instrction to server
function sendUpdateInst(){
    taskDD = document.getElementById("task");
    
    stationDD = document.getElementById("station");
    if(taskDD.value != "default" ){
      emp_id = $("#emp_name").data('empid');
      instruction = document.getElementById("instField").value;
      selectedTask = taskDD.value;
      selectedStation = stationDD.value;
      selectedPara ={"emp_id": emp_id, "task":selectedTask,"station":selectedStation,"instruction":instruction};
      $.ajax({
        url: '/job_assignment',
        type: "POST",
        data: {"update":"update","data": selectedPara},
        dataType: "text",
        error: function(data){
          alert("failed");
          }
      })
    //reset overlay
    taskDD.value ="default";
    $("#station").empty();
    $("#emp_name").data('empid',"");
  }
}
function sendDeleteInst(){
  emp_id = $("#emp_name").data('empid');
  if(emp_id != ""){
    $.ajax({
        url: '/job_assignment',
        type: "POST",
        data: {"delete":"delete","emp_id":emp_id},
        dataType: "text",
        error: function(data){
          alert("failed");
          }
      })
    //reset overlay
    $("#emp_name").data('empid',"");
    $("#task").value ="default";
    $("#station").empty();
  }

}
// functions for controling the options in the station drop down box
function changeOptions(){
  $("#station").empty();
  if(event.target.value == "picking" || event.target.value == "packing"){
    $('#station').append($('<option>').val('packing 1').text('Packing 1'));
    $('#station').append($('<option>').val('packing 2').text('Packing 2'));
    $('#station').append($('<option>').val('packing 3').text('Packing 3'));
    $('#station').append($('<option>').val('packing 4').text('Packing 4'));
  }
  else if(event.target.value == "receiving"){
    $('#station').append($('<option>').val('dock 1').text('Dock 1'));
    $('#station').append($('<option>').val('dock 2').text('Dock 2'));
  }
  else if(event.target.value == "loading"){
    $('#station').append($('<option>').val('dock 3').text('Dock 3'));
    $('#station').append($('<option>').val('dock 4').text('Dock 4'));
    $('#station').append($('<option>').val('dock 5').text('Dock 5'));
  }

}

</script>
{% endblock %}

{%block style%}
<style>
    a{
        color:inherit;
        text-decoration:none;
    }
    .overlayContainer{
      height: 0;
      width:0;
      position: absolute;
      right:600px;
      top:-5px;
      overflow-x: hidden;
      z-index:6;
      border-radius:10px;
      background-color: aliceblue;
      border: ridge 2px black;
    }
    #backButton{
      height: 100%;
      width:0;
      background-color: transparent;
      cursor:pointer;
      z-index: 5;
      position:fixed;
      top:0px;
      left:0px;
    }
    .remove_button{
      border: solid 1px grey;
      height:35px;
      font-weight: bold;
      background-color: #E3242B;
    }
    .remove_button:hover{
      color: white;
      background-color:#da5f63 ;
      cursor: pointer;
    }
</style>
{%endblock%}


{% block content %}
{{json}}
<div style="display:flex; flex-direction: column;">
  <div class="contentTopBar">
      <p class="contentTopBarText">Task Assignment</p>
  </div>

  <!--table-->
  <table id="jobTable" class="display table" style="margin-top:20px"></table>
  <div class="d-flex justify-content-end">
    <a href="/pick_pack_assignment" class="btn btn-primary btn-lg mt-3">Assign Tasks</a>
  </div>
</div>
{% endblock%}

{% block externalContent %}
<!--overlay for assigning jobs and stations-->
<!--modal-->
<div class="modal fade bd-example-modal-lg" id="modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title" id="modalLabel"><strong>Assign Task</strong> </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          </button>
      </div>
      <div cass = "modal-body">
          <div class="container">
            <div class="row mb-2">
              <div class="col-4"><strong>Employee</strong> </div>
              <div class="col-3"> <strong>Task</strong> </div>
              <div class="col-3"><strong>Station</strong> </div>
            </div>
            <div class="row">
              <div class="col-4" ><span id="emp_name" style="text-align:center" data-empid =""></span></div>
              <div class="col-3">
                <select onchange="changeOptions()" style = "width:100px; height:30px ; justify-self:flex-start" id="task">
                  <option value ="default"></option>
                  <option value = "picking">Picking</option>
                  <option value = "packing">Packing</option>
                  <option value = "receiving">Receiving</option>
                  <option value = "loading">Loading</option>
                </select>
              </div>
              <div class="col-3">
                <select id="station" style = "width:100px; height:30px; justify-self:flex-end;" id="station"></select>
              </div>
            </div>
            <div class="row">
              <div class="col h5"><strong>Instructions to worker</strong> </div>
            </div>
            <div class="row">
              <div class="col"><textarea name="instructions" id="instField" cols="50" rows="4"></textarea></div>
            </div>
            <div class="row">
              <div class="d-flex justify-content-end"><button class="btn btn-danger mb-3" onclick="closeOL();sendDeleteInst()">Remove Task</button></div>
            </div>
          </div>
      </div>
      <div class="modal-footer">
          <button class="btn btn-seconadry" onclick="closeOL()"> Cancel</button>
          <button class="btn btn-primary" onclick=" closeOL();sendUpdateInst()"> Confirm</button>
      </div>
  </div>
</div>



{% endblock %}