{% extends "manager_side/baseManager.html" %}

{% block title %} Order{% endblock %}

{% block script %}
<script>



$(document).ready( function () {
    var  orderTab = $('#orderTable').DataTable({
            select: 'single',
            data: {{orderTable_data|safe}},
            columns: [
                {title:'Order id'},
                {title:'Customer Name'},
                {title:'Num of items'},
                {title:'status'},
                {title:'Placed Date'},
                ]
        });
        $('#orderItemsTable').DataTable({
          columns: [
                {title:'No'},
                {title:'Item Id'},
                {title:'Name'},
                {title:'Seller id'},
                {title:'Quantity'},
                ],
                "searching":false,
                "lengthChange": false,
                paging:false,
                "info":false
        });
        //event listeners
        orderTab.on( 'select', function ( e, dt, type, indexes ) {
          if(type=="row"){
            //determine order_id of selected row
              var order_id = orderTab.rows(indexes).data().pluck('0')[0];
              //send post to server with order_id to receive data based on order_id
              $.ajax({
                url: '/orders',
                type: "POST",
                data: {"order_id":order_id},
                dataType: "json",
                success: function(data){
                    openOL(data)
                },
                error: function(data){
                  alert("failed")
                }
              });
          }
        });
        } );






//overlay functions
function openOL(data){
        //open overlay
        document.getElementById("overlayOrder").style.width="100%";
        document.getElementById("headerOrder").style.width="100%";
        //update overlay interface with data retrieved from post
        var olData = data.overlay
        var tableData = data.table
        document.getElementById("orderID").textContent = olData.order_id;
        document.getElementById("customerName").textContent = olData.customer_name;
        document.getElementById("date").textContent = olData.placed_date;
        document.getElementById("status").textContent = olData.order_status;
        var tab = $('#orderItemsTable').DataTable();
        tab.rows.add(tableData).draw();


      }
function closeOL(){
        document.getElementById("overlayOrder").style.width="0";
        document.getElementById("headerOrder").style.width="0";
        //clear data table
        var tab = $('#orderItemsTable').DataTable();
        tab.clear().draw();
      }

</script>
{% endblock %}

{% block style %}
<style>
.overlayContainer{
        height: 100%;
        width: 0;
        position:fixed;
        overflow-x: hidden;
        z-index: 6;
        top:0;
        left:0;
        background-color: rgba(255,255,255,1);
        transition:0.4s;
      }
.overlayTopBar{
        display:flex;
        align-items:center;
        border-bottom: solid 1px;
        box-shadow: 0 3px 3px -3px rgb(77, 77, 77);
        min-height:35px;
        font-size: 1.25em;
        font-weight: 700;
        margin-bottom: 15px;
      }
.orderInfoGrid{
        display:grid;
        width:1000px;
        min-width:1000px;
        margin-left:20px;
        margin-bottom: 80px;
      }
</style>

{% endblock %}

{% block content%}

<div style="display:flex; flex-direction: column;">
        <div class="contentTopBar">
            <p class="contentTopBarText">Orders</p>
        </div>

        <!--table-->
        <table id="orderTable" class="display table"></table>
</div>
{% endblock %}

{% block externalContent%}
<!--overlay for ASN-->
  <div id="overlayOrder" class="overlayContainer" style="z-index: 11;">
    <header class = "navbar navbar-light fixed-top overlayFixed" id="headerOrder" style="border-bottom:black solid 1px;box-shadow: 0 3px 3px -3px rgb(77, 77, 77);">
      <div class="container-fluid">
        <span href=""class="navbar-brand" > <strong>Order Items</strong> </span>
          <button class="btn btn-close" onclick="closeOL()"></button>
      </div>
    </header>
    <div class="overlayContentContainer">
      <p class="h1" style="margin-left: 7px; margin-bottom: 5px; font-weight: 700;">Status: <span id = "status"></span></p>
      <div class="orderInfoGrid h2">
        <p style="grid-row-start: 1;">Order id: </p>
        <p style="grid-row-start: 2;">Customer Name:</p>
        <p style="grid-row-start: 3;">Date:</p>
        <!--cells to be filled with data from database-->
        <p id="orderID" style="grid-row-start: 1; grid-column-start:2"></p>
        <p id="customerName" style="grid-row-start: 2; grid-column-start:2"></p>
        <p id="date" style="grid-row-start: 3; grid-row-end: 5; grid-column-start:2"></p>

      </div>
      <p style="margin-left:10px; font-size:1.5em; font-weight: 700; ">Items</p>
      <table id="orderItemsTable" class="display table"></table>
    </div>
    
  </div>

{% endblock %}
