{% extends "manager_side/baseManager.html" %}

{% block title %} Pick Pack Assignment {% endblock %}

{% block script %}
<script>
//initialise tables when document is ready
$(document).ready( function () {
          $('#pendingOrderTable').DataTable({
            select: 'multi',
            "lengthChange": false,
            columns:[
              {title:"Order id"},
              {title:"Num of Items"},
              {title:"Placed Date"},
            ],
            "ajax":{
              "data": {"table_data_req":"pending_orders"} ,
              "url": "/",
              "type":"Post",
              "datasrc": ""
            },
            drawCallback: function(){
                    var api =  $('#pendingOrderTable').DataTable();
                    var rows = api.rows({page: 'current'}).count();
                    for(var i=0; i< 10 - rows; i++){
                        $('#pendingOrderTable tbody').append($("<tr ><td>&nbsp;</td><td></td><td></td></tr>"));
                    }
                }
        });
        $('#selectEmpTable').DataTable({
          select: "multi",
          "bAutoWidth": false,
          columns:[
            {title:"Employee id"},
            {title:"Name"},
            {title:"Assigned Job"},
            {title:"Packing Station"}
          ],
          "ajax":{
              "data": {"table_data_req":"available_emp"} ,
              "url": "/",
              "type":"Post",
              "datasrc": ""
            },
          drawCallback: function(){
                    var api =  $('#selectEmpTable').DataTable();
                    var rows = api.rows({page: 'current'}).count();
                    for(var i=0; i< 10 - rows; i++){
                        $('#selectEmpTable tbody').append($("<tr ><td>&nbsp;</td><td></td><td></td><td></td></tr>"));
                    }
                }
        });
      })
       /*scripts for moving between steps for job assignment */
      //global variables
      var stepIndicatorList;
      var overlayList;
      var currentStep = 0;
      //initialises the stepIndicator list when page finishes loading
      window.onload= function(){
        stepIndicatorList = [document.getElementById("orderInd"), document.getElementById("employeeInd")];
        overlayList=[document.getElementById("overlayPendingOrd"),document.getElementById("overlaySelectEmp")];
      }

      function nextStep(){
        stepIndicatorList[currentStep].style.fill = "rgb(118, 246, 118)";
        stepIndicatorList[currentStep+1].style.fill ="rgb(255, 229, 63)";
        overlayList[currentStep].style.width ="0%";
        overlayList[currentStep+1].style.width ="100%";
        currentStep += 1;
      }
      function prevStep(){
        stepIndicatorList[currentStep].style.fill = "rgb(217, 217, 217)";
        stepIndicatorList[currentStep-1].style.fill ="rgb(255, 229, 63)";
        overlayList[currentStep].style.width ="0%";
        overlayList[currentStep-1].style.width ="100%";
        currentStep -= 1;
      }
      //sends assignment parameters to server
      function finish(){
        //get parameters from selected rows of the table
        var selectedOrdRows = $("#pendingOrderTable").DataTable().rows({selected:true}).data().pluck("0");
        var selectOrdId = []

        var selectedEmpRows = $("#selectEmpTable").DataTable().rows({selected:true}).data().pluck("0");
        var selectedEmpId = [];

        if (selectedOrdRows.length == 0 || selectedEmpRows.length == 0){
          alert ("please select at least 1 order and employee");
        }
        else{
            //process the parameters and send it to the server
              for(i=0; i< selectedOrdRows.length; i++){
              selectOrdId.push(selectedOrdRows[i]);
            }
            for(i=0; i< selectedOrdRows.length; i++){
              selectedEmpId.push(selectedEmpRows[i]);
            }
            $.ajax({
              url: '/',
              type: "POST",
              data: {"pick_pack_para":"pick_pack_para","ord_id": JSON.stringify(selectOrdId.join(',')) , "emp_id":JSON.stringify(selectedEmpId.join(','))},
              dataType: "json",
              success:function(data){
                if("insufficient_items" in data) {
                  alert("there are not enough stock for the following items: \n" + data["insufficient_items"])
                }
                else if ("success" in data){
                  alert("assignment successful")
                }
                else{
                    alert(JSON.Stringify(data))
                }
              },
              error: function(data){
              alert("failed");
              }
            })
          }
      }
</script>

{% endblock %}

{% block style %}
<style>
.dashboardContainer{
        border:solid black 2px;
        margin-left: 50px;
        margin-top:50px;
        display: flex;
        justify-content: space-between;
        width: calc(90% - 200px);
        height:150px;
        align-items: center;
      }
.tableOverlayContainer{
        width: 0;
        overflow-x: hidden;
        z-index: 2;
        background-color: rgba(255,255,255,1);
        transition:0.2s;
      }
.tableOverlayTopBar{
        display:flex;
        align-items:center;
        border-bottom: solid 1px;
        box-shadow: 0 3px 3px -3px rgb(77, 77, 77);
        min-height:35px;
        font-size: 1.25em;
        font-weight: 700;
        margin-bottom: 15px;
        }
.stepButton{
        height:35px;
        margin-left: 20px;
        transition: 0.3s;
        cursor: pointer;
        font-weight: bold;
      }
.nextButton{
        background-color: rgb(118, 246, 118) ;
      }
.nextButton:hover{
        background-color: rgb(56, 167, 56);
        color:white;
      }
.prevButton{
        background-color: rgb(255, 229, 63);
      }
.prevButton:hover{
        background-color: rgb(232, 151, 0);
        color:white;
      }
</style>
{% endblock %}

{% block content %}
 <div class="contentTopBar" style="justify-content:start; align-items: center;">
            <p class="contentTopBarText" style="margin-right: 2vw;">Picking/Packing Assignment</p>
            <div>
              <svg width="100px" height="60px">
                <polygon points="0,5 80,5 100,30 80,60 0,60" stroke="black" style="fill:rgb(255, 229, 63);" id="orderInd"></polygon>
                <text x="5" y="35"  style="z-index:3; fill:black; font-weight:400">Orders</text>
              </svg>

              <svg width="100px" height="60px">
                <polygon points="0,5 80,5 100,30 80,60 0,60" stroke="black" style="fill:rgb(217, 217, 217)" id="employeeInd"></polygon>
                <text x="5" y="35"  style="z-index:3; fill:black; font-weight:400">Employees</text>
              </svg>
  </div>
{% endblock %}

{% block externalContent %}
<div style="position:relative;">
            <!--Overlay for pending Orders-->
            <div id="overlayPendingOrd" class="tableOverlayContainer" style="position:absolute; width:100%;">
            <p style="margin-left:20px; font-size: 1.25em; font-weight: 500px;">Pending Orders</p>
            <table id="pendingOrderTable" class="display"></table>
            <div>
              <button class="stepButton nextButton" onclick="nextStep()">Next Step</button>
            </div>
            </div>
            <!--Overlay for employee selection-->
            <div id="overlaySelectEmp" class="tableOverlayContainer" style="position:absolute;">
              <p style="font-weight:600;font-size: 1.25em; font-weight: 500px; ">Available Employees </p>
              <table id="selectEmpTable" class="display"></table>
              <div>
                <button class="stepButton prevButton" onclick="prevStep()">Prev Step</button>
                <button class="stepButton nextButton" onclick="finish()">Finish</button>
              </div>
            </div>
</div>
{% endblock%}