<!DOCTYPE html>
<html lang="en">
<head>
    <title> ExpressWay WMS Manager side</title> 
    <meta Charset ="utf-8">

    <!--libraries-->
    <script src="https://code.jquery.com/jquery-3.5.1.js"> </script>
    <link rel="stylesheet" type="text/css" href="../../static/external_libraries/DataTables/datatables.css">
    <script type="text/javascript" charset="utf8" src="../../static/external_libraries/DataTables/datatables.js"></script>
    <!--checkbox extension for datatables-->
    <link type="text/css" href="//gyrocode.github.io/jquery-datatables-checkboxes/1.2.12/css/dataTables.checkboxes.css" rel="stylesheet" />
    <script type="text/javascript" src="../../external_libraries/DataTablesCheckbox/dataTables.checkboxes.min.js"></script>
    <script>
      //initialise tables when document is ready
      $(document).ready( function () {
          $('#pendingOrderTable').DataTable({
            'columnDefs' : [{
              'targets':0,
              'checkboxes':{
                'selectRow':true
              }
            }
            ],
            select: 'multi',
            'order':[[1,'asc']]
        }); 
        $('#selectEmpTable').DataTable();
        $('#selectVecTable').DataTable();
      })
      /*scripts for moving between steps for job assignment */
      //global variables
      var stepIndicatorList;
      var overlayList;
      var currentStep = 0;
      //initialises the stepIndicator list when page finishes loading
      window.onload= function(){
        stepIndicatorList = [document.getElementById("orderInd"), document.getElementById("employeeInd"), document.getElementById("vehicleInd")];  
        overlayList=[document.getElementById("overlayPendingOrd"),document.getElementById("overlaySelectEmp"),document.getElementById("overlaySelectVec")]
      }

      function nextStep(){
        stepIndicatorList[currentStep].style.fill = "rgb(118, 246, 118)"
        stepIndicatorList[currentStep+1].style.fill ="rgb(255, 229, 63)"
        overlayList[currentStep].style.width ="0%"
        overlayList[currentStep+1].style.width ="100%"
        currentStep += 1
      }
      function prevStep(){
        stepIndicatorList[currentStep].style.fill = "rgb(217, 217, 217)"
        stepIndicatorList[currentStep-1].style.fill ="rgb(255, 229, 63)"
        overlayList[currentStep].style.width ="0%"
        overlayList[currentStep-1].style.width ="100%"
        currentStep -= 1
      }
      //sends assignment parameters to server
      function finish(){

      }
    </script>


    <link rel="stylesheet" href="../../static/css/manager_common.css">
    <style>
      .dashboardContainer{
        border:solid black 2px;
        margin-left: 50px;
        margin-top:50px; 
        display: flex;
        justify-content: space-between;
        width: calc(90% - 200px);
        height:150px;
        align-items: center;
      }
      .tableOverlayContainer{        
        width: 0;
        overflow-x: hidden;
        z-index: 2;
        background-color: rgba(255,255,255,1);
        transition:0.2s;
      }
      .tableOverlayTopBar{
        display:flex; 
        align-items:center;
        border-bottom: solid 1px; 
        box-shadow: 0 3px 3px -3px rgb(77, 77, 77);
        min-height:35px; 
        font-size: 1.25em;
        font-weight: 700;
        margin-bottom: 15px;
        }
      .stepButton{
        height:35px;
        margin-left: 20px;
        transition: 0.3s;
        cursor: pointer;
        font-weight: bold;
      }
      .nextButton{
        background-color: rgb(118, 246, 118) ;
      }
      .nextButton:hover{
        background-color: rgb(56, 167, 56);
        color:white;
      }
      .prevButton{
        background-color: rgb(255, 229, 63);
      }
      .prevButton:hover{
        background-color: rgb(232, 151, 0);
        color:white;
      }
    </style>
</head>

<body style="margin: 0; "> 

   <header class="topBar" >
    <p class="topBarText" style ="left:19px;">ExpressWay</p>
    <div style="display:flex;">
      <p  class = "topBarText" style =" right:30px">PLACE HOLDER FOR NAME</p>
      <p class="topBarText topBarLogOut" >Log Out</p>
    </div>
  </header>

  <div>
   <nav class="sideBar">
      <p  class="sideBarText"><a href="dashboard.html">Dashboard</a></p>
      <p class="sideBarText" ><a href="order_page.html">Orders</a></p>
      <p class="sideBarText" ><a href="inventory_page.html">Inventory</a></p>
      <p class="sideBarText" ><a href="inbound_shipments_page.html">Inbound Shipments</a></p>
      <p class="sideBarText" ><a href="receive _discrepancy_page.html">Receive Discrepency</a></p>
      <p class="sideBarText" ><a href="deliveries_page.html">Deliveries</a></p>
      <p class="sideBarText" ><a href="job_assignment.html">Job Assignment</a></p>
      <p class="sideBarText" ><a href="employee_page.html">Employees</a></p>    
    </nav>
    <div class="contentContainer">
      <div class="contentTopBar" style="justify-content:start; align-items: center;">
            <p class="contentTopBarText" style="margin-right: 2vw;">Picking/Packing Assignment</p>
            <div>
              <svg width="100px" height="60px">  
                <polygon points="0,5 80,5 100,30 80,60 0,60" stroke="black" style="fill:rgb(255, 229, 63);" id="orderInd"></polygon>
                <text x="5" y="35"  style="z-index:3; fill:black; font-weight:400">Orders</text>
              </svg>
              
              <svg width="100px" height="60px">  
                <polygon points="0,5 80,5 100,30 80,60 0,60" stroke="black" style="fill:rgb(217, 217, 217)" id="employeeInd"></polygon>
                <text x="5" y="35"  style="z-index:3; fill:black; font-weight:400">Employees</text>
              </svg>
              <svg width="100px" height="60px">  
                <polygon points="0,5 80,5 100,30 80,60 0,60" stroke="black" style="fill:rgb(217, 217, 217);" id="vehicleInd"></polygon>
                <text x="5" y="35"  style="z-index:3; fill:black; font-weight:400">Vehicles</text>
              </svg>
            </div>
        </div>
          
          <div style="position:relative;">
            <!--Overlay for pending Orders-->
            <div id="overlayPendingOrd" class="tableOverlayContainer" style="position:absolute; width:100%;">
            <p style="margin-left:20px; font-size: 1.25em; font-weight: 500px;">Pending Orders</p>
            <table id="pendingOrderTable" class="display">
              <thead>
                <th></th>
                <th>Order id</th>
                <th>Items</th>
                <th>Placed Date</th>
                <th>Placed Times</th>
              </thead>
              <tbody>
                <tr>
                  <td></td>
                  <td>1</td>
                  <td>2</td>
                  <td>3</td>
                  <td>4</td>
                </tr>
                <tr>
                  <td></td>
                  <td>1</td>
                  <td>2</td>
                  <td>3</td>
                  <td>4</td>
                </tr>
                <tr>
                  <td></td>
                  <td>1</td>
                  <td>2</td>
                  <td>3</td>
                  <td>4</td>
                </tr>
                <tr>
                  <td></td>
                  <td>1</td>
                  <td>2</td>
                  <td>3</td>
                  <td>4</td>
                </tr>
                <tr>
                  <td></td>
                  <td>1</td>
                  <td>2</td>
                  <td>3</td>
                  <td>4</td>
                </tr>
                <tr>
                  <td></td>
                  <td>1</td>
                  <td>2</td>
                  <td>3</td>
                  <td>4</td>
                </tr>
                <tr>
                  <td></td>
                  <td>1</td>
                  <td>2</td>
                  <td>3</td>
                  <td>4</td>
                </tr>
                <tr>
                  <td></td>
                  <td>1</td>
                  <td>2</td>
                  <td>3</td>
                  <td>4</td>
                </tr>
                <tr>
                  <td></td>
                  <td>1</td>
                  <td>2</td>
                  <td>3</td>
                  <td>4</td>
                </tr>
                <tr>
                  <td></td>
                  <td>1</td>
                  <td>2</td>
                  <td>3</td>
                  <td>4</td>
                </tr>
                <tr>
                  <td></td>
                  <td>1</td>
                  <td>2</td>
                  <td>3</td>
                  <td>4</td>
                </tr>
                <tr>
                  <td></td>
                  <td>1</td>
                  <td>2</td>
                  <td>3</td>
                  <td>4</td>
                </tr>
                <tr>
                  <td></td>
                  <td>1</td>
                  <td>2</td>
                  <td>3</td>
                  <td>4</td>
                </tr>
                <tr>
                  <td></td>
                  <td>1</td>
                  <td>2</td>
                  <td>3</td>
                  <td>4</td>
                </tr>
                <tr>
                  <td></td>
                  <td>1</td>
                  <td>2</td>
                  <td>3</td>
                  <td>4</td>
                </tr>
              </tbody>
            </table>
            <div>
              <button class="stepButton nextButton" onclick="nextStep()">Next Step</button>
            </div>
            </div>
            <!--Overlay for employee selection-->
            <div id="overlaySelectEmp" class="tableOverlayContainer" style="position:absolute;">
              <p style="font-weight:600; ">Available Employees: <span id="availableEmp"></span></p>
              <table id="selectEmpTable" class="display">
                <thead>
                  <th>Employee id</th>
                  <th>Name</th>
                  <th>Assigned Job</th>
                  <th>Packing Station</th>
                </thead>
                <tbody>
                </tbody>
              </table>
              <div>
                <button class="stepButton prevButton" onclick="prevStep()">Prev Step</button>
                <button class="stepButton nextButton" onclick="nextStep()">Next Step</button>
              </div>
            </div>
            <!--Overlay for vehicle selection-->
            <div id="overlaySelectVec" class="tableOverlayContainer" style="position:absolute;">
              <p style="font-weight:600; ">Available Employees: <span id="availableEmp"></span></p>
              <table id="selectVecTable" class="display">
                <thead>
                  <th></th>
                  <th>No</th>
                  <th>Vehicle Num</th>
                  <th>Departure Time</th>
                </thead>
                <tbody>
                </tbody>
              </table>
              <div>
                <button class="stepButton prevButton" onclick="prevStep()">Prev Step</button>
                <button class="stepButton nextButton" onclick="finish()">Finish</button>
              </div>
            </div>
          </div>
            
  


        </div>
        
  </div>
  

</body>
</html>

