{% extends "manager_side/baseManager.html" %}

{% block title %}Discrepancy{% endblock %}

{% block script %}
<script>
//when document is ready initialise discrepancy table
$(document).ready( function () {

  var disctab= $('#discrepancyTable').DataTable({
    select: 'single',
    data:{{discrepancy|safe}},
    columns:[
      {title:"Shipment No"},
      {title:"Seller Name"},
      {title:"Shipment Type"},
      {title:"Date"},
      {title:"Time"}
    ]
  });
  $('#discrepancyReportTable').DataTable({"searching":false,
        "lengthChange": false,
        paging:false,
        "info":false});
  //event listeners
  disctab.on( 'select', function ( e, dt, type, indexes ) {
    if(type=="row"){
      var asn_id = disctab.rows(indexes).data().pluck('0')[0];
      $.ajax({
          url: '/receive_discrepancies',
          type: "POST",
          data: {"asn_id":asn_id},
          dataType: "json",
          success: function(data){
              openOL(data)
          },
          error: function(data){
            alert("failed")
          }
        });
    } 
  });
      } );
/*overlay functions*/
function openOL(data){
      document.getElementById("overlayASN").style.width="100%";
      document.getElementById("headerDisc").style.width="100%";
      //update overlay interface with data retrieved from post
      var olData = data.overlay
      var tableData = data.table
      document.getElementById("shipmentNo").textContent = olData.shipment_no
      document.getElementById("sellerName").textContent = olData.seller_name
      document.getElementById("shipmentType").textContent = olData.shipment_type
      document.getElementById("arrivalDate").textContent = olData.date
      document.getElementById("arrivalTime").textContent = olData.time
      document.getElementById("note").textContent = olData.note
      var tab = $('#discrepancyReportTable').DataTable();
      tab.rows.add(tableData).draw(false);
    }
function closeOL(){
      document.getElementById("overlayASN").style.width="0";
      document.getElementById("headerDisc").style.width="0";
        var tab = $('#discrepancyReportTable').DataTable();
        tab.clear().draw();
    }
</script>

{% endblock %}

{% block style %}
<style>
/*overlay css*/
.overlayContainer{
        height: 100%;
        width: 0;
        position:fixed;
        overflow-x: hidden;
        z-index: 6;
        top:0;
        left:0;
        background-color: rgba(255,255,255,1);
        transition:0.4s;
      }
.overlayTopBar{
        display:flex;
        align-items:center;
        border-bottom: solid 1px;
        box-shadow: 0 3px 3px -3px rgb(77, 77, 77);
        min-height:35px;
        font-size: 1.25em;
        font-weight: 700;
        margin-bottom: 15px;
        }
.discrepancyInfoGrid{
        display: grid;
        column-gap: 20px;
        width:98%;
        min-width:1000px;
        margin-left:auto;
        margin-right: auto;
        grid-template-columns: 200px auto 200px auto;
        font-family: 'Times New Roman', Times, serif;
        }
</style>
{% endblock %}

{% block content %}
<div style="display:flex; flex-direction: column;">
        <div class="contentTopBar">
            <p class="contentTopBarText">Shipments with Damaged/Missing Items</p>
        </div>

        <!--table-->
        <table id="discrepancyTable" class="display table">  </table>
      </div>
</div>
{% endblock %}

{% block externalContent %}
  <!--overlay for ASN-->
  <div id="overlayASN" class="overlayContainer" style="z-index: 11;">
    <div style="display:flex; flex-direction: column; ">
      <header class = "navbar navbar-light fixed-top overlayFixed" id="headerDisc" style="border-bottom:black solid 1px;box-shadow: 0 3px 3px -3px rgb(77, 77, 77);">
        <div class="container-fluid">
          <span href=""class="navbar-brand" > <strong>Receive Discrepancy</strong> </span>
            <button class="btn btn-close" onclick="closeOL()"></button>
        </div>
      </header>
      <div class="overlayContentContainer">
        <div class="discrepancyInfoGrid h2 mb-4">
          <p style="grid-row-start:1;">Shipment No</p>
          <p style="grid-row-start:2;">Seller Name</p>
          <p style="grid-row-start:3;">Shipment Type</p>
          <p style="grid-row-start:1;grid-column-start:3">Arrival Date</p>
          <p style="grid-row-start:2;grid-column-start:3">Arrival Time</p>
          <!--cells to be filled with data from datbase-->
          <p id="shipmentNo" style="grid-row-start: 1; grid-column-start:2"></p>
          <p id="sellerName" style="grid-row-start: 2; grid-column-start:2"></p>
          <p id="shipmentType" style="grid-row-start: 3; grid-column-start:2"></p>
          <p id="arrivalDate" style="grid-row-start: 1; grid-column-start:4"></p>
          <p id="arrivalTime" style="grid-row-start: 2; grid-column-start:4"></p>
        </div>
        <p style="margin-left:10px; font-weight:700; font-size: 1.5em;">Item Discrepencies</p>
        <table id="discrepancyReportTable" class="display table">
            <thead>
                <th>Item id</th>
                <th>Name</th>
                <th>Expected</th>
                <th>Undamaged</th>
                <th>Damaged</th>
            </thead>
            <tbody></tbody>
        </table>
        <div style="width:95%; margin-left: auto;margin-right: auto;">
          <p style="font-weight:700; font-size: 1.5em;">Notes</p>
          <p style=" height: 300px; border:solid black 0.8px"><span id="note" style ="margin:15px"></span></p>
        </div>
      </div>


    </div>
  </div>
{% endblock %}