<!DOCTYPE html>
<html lang="en">
<head>
    <title> </title> 
    <meta Charset ="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <!--libraries-->
    <script src="https://code.jquery.com/jquery-3.5.1.js"> </script>
    <link rel="stylesheet" type="text/css" href="../../static/external_libraries/DataTables/datatables.css">
    <script type="text/javascript" charset="utf8" src="../../static/external_libraries/DataTables/datatables.js"></script>
    <script>


    </script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../../static/css/employee_common.css">
    <style>
    </style>
</head>

<body> 
    <div class="topBar pageTopBarCol" style="margin-bottom:2vh">
        <p class="topBarText" style="margin-left:3vw" >Loading</p>
        <div class="backButton topBarText">
            <img src="../../static/imgs/back_icon(white).png" height="40px">
            <p> Back</p>
            <a href="main_page.html"></a>
        </div>
    </div>  
    <div class="contentContainer" style="align-items: center;">
        <p class="contentLabelText" style="color:grey">To begin counting please scan the QR code on the bin location</p>
        <img src="../../static/imgs/QR_icon.png" alt="Scan QR code icon" style="width:30vw; height: 30vw; margin-top: 10px; margin-bottom: 5px;">       
        <p class="button" ><span style="margin-left: 5px; margin-right: 5px; padding:5px">Scan QR</span> </p>
    </div>



</body>
</html>

